/* .main-slider img{
    max-height: 80vh !important;
} */
/* .carousel-inner > .item > img {
    width:640px;
    height:360px;
  } */

  .carousel {
    width:640px;
    height:360px;
    margin: auto;
  }