/* .main-slider img{
    max-height: 80vh !important;
} */
/* .carousel-inner > .item > img {
    width:640px;
    height:360px;
  } */

  .carousel {
    width:640px;
    height:360px;
    margin: auto;
  }
  /* .card-title{
    margin-top: 30rem;
  } */
  /* margin-top property above sets the card-body properties to the center */
  
  /* for the horzontal card */
  /* .card{
    margin-top: 100px;
    margin-left: 20px;
  } */

  .bcontent {
    margin-top: 10px;
}